@page
@model ECommerceWebsite.Pages.OrderHeaders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderHeader[0].customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderHeader[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderHeader[0].ShippingAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderHeader) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customer.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingAddress)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.OrderHeaderID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.OrderHeaderID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.OrderHeaderID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
