@page
@model ECommerceWebsite.Pages.CatalogModel
@{
    ViewData["Title"] = "Catalog";
}

<form asp-page="./Catalog" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Catalog">Back to full List</a>
        </p>
    </div>
</form>

<div class="card-columns">
@foreach (var item in Model.Product)
{
    var myURL = "./Images/" + item.ProductName + ".jpg";
    <div class="card">
        <img src="@myURL" class="card-img-top" style="height:200px; width:100%; text-align:center" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.ProductName)</h5>
            <p class="card-text">@Html.DisplayFor(modelItem => item.ProductDescription)</p>
            <form class="form-inline">
                <div class="col-md">
                    <select class="form-control" id="exampleFormControlSelect1">
                        @for (int i = 0; i < 10; i++)
                        {
                            <option>@i.ToString()</option>
                        }
                    </select>
                </div>
                <div class="col-md">
                    <button type="submit" class="btn btn-primary">Add To Cart</button>
                </div>
            </form>
            <p class="card-text"><small class="text-muted">$@Html.DisplayFor(modelItem => item.ProductPrice)</small></p>
        </div>
    </div>
}
</div>